html, 
body {
  padding: 10px;
  margin: 0px;
  box-sizing: border-box;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Archivo", sans-serif;
}

html {
  min-height: 100vh;
}

body {
  min-height: calc(100vh - 2 * 20px);
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

:root {
  --clr-company-gold: #e7c606;
  --clr-green-background: #004b2348;
  --clr-footer-background: #004b2311;
  --clr-nav-background: #fffaf0;
}

/* Give all semantic body elements uniform layout style */
header, nav, main, footer, aside, section, article, details, div {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
  font-weight:600;
}

header {
  grid-area: hd;
}

h2.company-name {
  margin: 0px;
  padding: 0px;
  border: 0px;

}

main {
  /* margin: 100px; */
  grid-area: mn;
  margin-bottom: 5px;
  margin-top: 5px;
  height: auto;
}

img.logo {
  vertical-align: middle;
  filter: drop-shadow(20px 0px 1px rgb(231, 198, 6));
  -webkit-filter: drop-shadow(20px 0px 1px #e7c606);
}

/* styles for NAV element including for nav bar */
nav {
  grid-area: nv;
  background-color: rgb(231, 198, 6);
  width: 100%;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color:  rgb(231, 198, 6);
  top: 10px;
  width: 100%;
}

li {
  float: left;
  border-color: rgb(189, 189, 189);
  border-width: 10px;
  font-size: 220%;
  font-weight: bold;
}

li a {
  display: block;
  color: rgb(73, 73, 73);
  text-align: center;
  padding: 15px 100px;
  text-decoration: none;
  border-radius: 10px;
  border-color: rgb(189, 189, 189);
  border-width: 5px;
}

li a:hover:not(.active) {
  background-color: rgb(56, 56, 56);
  color:rgb(189, 189, 189)
}

.active {
  background-color: rgb(56, 56, 56);
  color:rgb(189, 189, 189)
}

article#about {
  text-align: justify;
}

article#contact {
  color: var(--clr-green-text);
}

h3#contact {
  color: var(--clr-green-text);
  text-align: center;
}

article {
  text-align: left;
  padding: 10px;
}

header {
  font-size: clamp(3rem, 10vw, 7rem);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: space-between;
}

header * {
  vertical-align: middle;
  filter: drop-shadow(-1px -1px 5px var(--clr-grey-background));
  -webkit-filter: drop-shadow(-1px -1px 5px var(--clr-grey-background));
  margin-left: 10px;
}

img {
  margin-right: 0px;
  margin-top: 0px;
}

footer {
  /* padding: 10px;
  margin-top: 500px; */
  grid-area: ft;
  padding: 10px;
  font-weight: 600;
  position: sticky;
  bottom: 0px;
}

.main-table, .table-header, .table-row {
  border: 1px solid rgb(54, 54, 54);
  border-collapse: collapse;
  padding: 5px;
  border-radius: 5px;
}

/* for colouring the table background */
.table-row  {
  background-color: rgb(228, 227, 227);
  font-weight: normal;
}

.table-header {
  background-color: rgb(168, 168, 168);
  height: 50px;
  font-weight: bold;
}

.textfield {
  max-width: 600px;
  width: 95%;
  border-radius: 3px;
}

.address {
  min-height: 25px;
  max-width: 600px;
  width: 95%;
  border-radius: 3px;
}

.order-button {
  text-align: center;
  max-width: 600px;
  width: 95%;
  border-radius: 3px;
  margin-top: 10px;  
}

form.login {
  display: hidden;
  justify-items: left;
}

fieldset {
  text-align: center;
  margin: auto;
}

fieldset input[type="radio"] {
  display: none;
}

fieldset input[type="radio"] + label {
  
  width: 50%;
  text-decoration: none;
  background-color: var(--clr-company-gold);
  color: var(--clr-green-text);
  padding: 5px 5px;
  border-color: var(--clr-green-text);
  border: solid 2px;
}

fieldset input[type="radio"]:checked + label {
  background-color: rgb(0, 0, 0);
  color: var(--clr-company-gold);
  transition: 0.3s;
}

@media (max-height: 600px) {
  footer {
    position: static;
  }
}

@media only screen and (min-width : 800px) {
  .main-grid {
    display: grid;
    grid-template-columns: repeat(auto, 1);
    grid-template-rows: repeat(auto, 4);
    gap: 2em;
    grid-template-areas:
      "hd"
      "nv"
      "mn"
      "ft";
  }

  header {
    max-width: max-content;
    float: left;
  }
  
  img.logo {
    align-items: right;
  }

  nav {
    min-width: max-content;
    width: auto;
    height: 114px;
    text-align: right;
  }

  ul, li {
    /* justify-self: right; */
  }

  main {
    padding-top: 20px;
  }

  p {
    grid-column: 1;
    justify-self: stretch;
    align-self: center;
  }

  input {
    grid-column: 2;
    justify-self: stretch;
    align-self: center;
  }

  input.checkbox {
    justify-self: start;
  }

  label {
    grid-column: 2;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-auto-rows: auto;
  }

  form.login {
    display: hidden;
  }
  
}